#月{
    width: 150px;
    height: auto;
}
#img{
    display: flex;
    flex-direction: column;
}
.music{
    background: crimson;
    border: gold solid 1px;
    margin-left:90%
}
#quest{
    display:flex;
    flex-direction: column;
}
#head{
    margin-left:45%

}
#tis{
    margin-left:60%
}