#mix{
    display: flex;
    flex-direction: row;
}
#铜{
    width: 200px;
    height: auto;
}
#月{
    width: 150px;
    height: auto;
}
#img{
    display: flex;
    flex-direction: column;
}
.music{
    background: crimson;
    border: gold;
    margin-left:40%
}
#quest{
    display:flex;
    flex-direction: column;
}
#head{
    margin-left:45%

}
#tis{
    margin-left:60%
}